a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: "Alte Haas";
  color: white;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*font-weight: bold;*/
}

body {
  color: white;
}

@font-face {
   font-family: Alte Haas;
   src: url('AlteHaasGroteskRegular.ttf');
}

@@font-face {
   font-family: Alte Haas;
   font-weight: bold;
   src: url('AlteHaasGroteskBold.ttf');
}

#h {
  background-image: url('../img/sonj.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding-left:25%;
}

#lastname {
  margin-top: 0px;
}

#firstname {
  margin-bottom: 0px;
  padding-left: 7.5%;
}

#tagline {

  font-size: 19px;
}

#school {
  padding-top: 15px;
  font-size: 24px;
}

h2 {
  font-family: "Barlow Semi Condensed";
  padding-left: 0.3%;
  margin: 0px;
}

#facebook-logo {
  padding-left: 0%;
}

#github-logo {
  padding-left: .4%;
}

#email-logo {
  padding-left: .4%;
}

#dribbble-logo {
  padding-left: .4%;
}

.logo {
  width: 4.4%;
}

#logos {
  padding-left: 7.5%;
}

/*-----------------  Developing Frame  -----------------------*/

#c {
  text-align:center;
}

.codebox {
  width: 23.25%;
  height: 100%;
  display: table-cell;
  position: static;
  background-color: white;
  text-align:center;
}

.codeprojects {
  width: 70%;
}

h3 {
  font-family: "Alte Haas";
  color: black;
  font-size: 27px;
  text-align: center;
  width: 70%;
  transform: translateX(21%);
  transition: 1000ms ease-in;
}
.codebox {
  transition: 1000ms ease-in-out;
  padding-top:0%;
}
.codebox:hover {

}

#header {
  word-wrap: normal;
  z-index: 9000;
}

#palcp {
  padding-right: 10px;
  width: 80%;
  opacity: 1;
}

p {
  font-family: "Barlow Semi Condensed";
  width: 90%;
  transform: translateX(6%);
  font-size: 15px;
  text-align: center;
  line-height: 150%;
  display: block;
  color: black;
  opacity: 0;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  transition: 1000ms ease-in-out;
}

.webtag {
  color: #85C1E9;
  font-family: "Barlow Semi Condensed";
}
