a {
  text-decoration: none;
  font-family: "Dosis";
}

a:visited {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Allerta Stencil";
  color: white;
  font-size: 50px;
  //font-weight: bold;
}

body {
  color: white;
}

@font-face {
   font-family: Alte Haas;
   src: url('AlteHaasGroteskRegular.ttf');
}

@@font-face {
   font-family: Alte Haas;
   font-weight: bold;
   src: url('AlteHaasGroteskBold.ttf');
}

#h {
  background-image: url('../img/sonj.png');
  background-size: contain;
  background-position: right;
}
